section id="aktiviteter_title"
      h1 style="margin: 0px;" Kommande aktiviteter
      - if @trainer_status == 1
            a href="/user/create-activity" 
                  img src="/plus.svg" style="width: 2rem; height: 2rem;"
            
hr

section class="aktivitetercontainer"      
      - @aktiviteter.each do |aktivitet|

            section class="todo"

                  h2 #{aktivitet["name"]}
                  p #{aktivitet["description"]}

                  - if @trainer_status == 1
                        section class="activityedit"
                              form action="/user/activities/#{aktivitet["id"]}/delete" method="post"
                                    input type="submit" value="ta bort"

                              a class="editknapp" href="/user/activities/#{aktivitet["id"]}/edit" edit🖊️

                  section class="statuses"
                        section class="anmälan"
                              form class="anmälanknapp kommerknapp" action="/user/activities/#{aktivitet["id"]}/changenärvaro" method="post"
                                    input type="submit" name="status" value="kommer"
                              form class="anmälanknapp frånvarandeknapp" action="/user/activities/#{aktivitet["id"]}/changenärvaro" method="post"
                                    input type="submit" name="status" value="frånvarande"

                  
                        section class="statustitles"
                              p class="statustitle kommer" Kommer
                              p class="statustitle frånvarande" Frånvarande
                              p class="statustitle kallad" Kallad 

                        section class="listor"
                              section class="kommerlist list" 
                                    - (@kommer_per_aktivitet[aktivitet["id"]] || []).each do |kommer|
                                          p class="listtext" #{kommer["name"]}
                              section class="frånvarandelist list" 
                                    - (@frånvarande_per_aktivitet[aktivitet["id"]] || []).each do |frånvarande|
                                          p class="listtext" #{frånvarande["name"]}
                              section class="kalladlist list"
                                    - (@kallade_per_aktivitet[aktivitet["id"]] || []).each do |kallad|
                                          p class="listtext" #{kallad["name"]}
                  hr

