a href="/user/createaktivitet" ➕
section class="aktivitetercontainer"
      - @aktiviteter.each do |aktivitet|

            section class="todo"

                  h2 #{aktivitet["name"]}
                  p #{aktivitet["description"]}

                  /form action="/todos/#{todo["id"]}/done" method="post"
                        input type="submit" value="✅ done"/

                  form action="/user/aktiviteter/#{aktivitet["id"]}/delete" method="post"
                        input type="submit" value="ta bort"

                  a href="/user/aktiviteter/#{aktivitet["id"]}/edit" edit🖊️