section
      p Skriv in nytt lösenord:
      form action="/user/change-password" method="post"
            input type="text" name="password" placeholder="Nytt lösenord"
            input type="text" name="passwordconfirmation" placeholder="Konfirmera nytt lösenord"
            input type="submit" value="Byt lösenord"
      - if @confirmfail
            p style="color: red;" Lösenorden stämmer inte överens