h2 Uppdatera aktivitet

form action="/user/activities/#{@special_aktivitet["id"]}/update" method="post"
      input type="text" name="name" value="#{@special_aktivitet["name"]}"
      input type="text" name="description" value="#{@special_aktivitet["description"]}"
      input type="submit" value="Uppdatera"