<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    link rel="stylesheet" href="/style.css?#{Time.now.to_i}"/
    title Aktivitetsportalen
  body

    header 
      section id="topbar"
        a href="/" id="title" Aktivitetsportalen
        - if @loginstatus == 'notloggedin' 
          form class="user" action="/login" method="get"
            input type="submit" value="Logga in"
        - else
          section class="menu-button"
            h1 class="user material-icons" #{session[:username] + @trainer} ☰

        nav class="menu"
          hr
          a href="/user/activities" class="navbar"Aktiviteter
          a href="/user/profile" class="navbar"Profil
          a href="" class="navbar"inställningar
          a href="/logout" class="navbar"Logga ut
      hr

    section class="fade-layer"
    
    section id="content"
      ==yield
      

    footer
      h3 Fötter
      p contact:   bananalover@mail.com

    script src="/script.js"