<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    link rel="stylesheet" href="/style.css?#{Time.now.to_i}"/
    title Aktivitetsportalen
  body

    header 
      h1 id="title" Aktivitetsportalen

  section id="content"
    ==yield

  footer
    h3 Fötter
    p contact:   bananalover@mail.com