form action="/user/skapa" method="post"
            input type="text" name="new_aktivitet" placeholder="Namnge ny aktivtet"
            input type="text" name="description" placeholder="beskriv aktivitet"
            input type="submit" value="Lägg till"